<div class="card header3" (click)="dropdown = !dropdown">
  <h2>Special Facts</h2>
  <svg xmlns="http://www.w3.org/2000/svg"
    alt="dropdown logo"
    class="mr-12 dropdown-btn"
    height="24px"
    viewBox="0 0 24 24"
    width="24px"
    fill="#FFFFFF"
    [class.dropdown-btn-toggle]="dropdown">
    <path d="M0 0h24v24H0V0z" fill="none" />
    <path d="M7 10l5 5 5-5H7z" />
  </svg>
</div>

<div *ngIf="dropdown && facts" class="card card-body">
  <img *ngIf="facts.pages[0].originalimage"
    class="m16"
    [src]="facts.pages[0].originalimage.source"
    width="200"
    alt="Image of old random fact on this day"/>
  <span>{{ facts.pages[0].displaytitle }}</span>
  <span class="m16 fact">{{ facts.text }}</span>
  <span style="margin-bottom: 16px">{{ facts.year }}</span>
</div>

<div class="card card-body fact p16" *ngIf="dropdown && !facts">
  Choose a date to see random facts related to it
</div>