table{
    font-size: 13px;
    line-height: 19px;
    border-spacing: 0;
}

thead{
    display: flex;
    text-align: center;
    color: var(--main-color);
}

th, td{
    width: 34px;
    height: 32px;
    text-align: center;
    text-align: -webkit-center;
}

tbody{
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
}

.dates{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;

}

.dates:hover{
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

.inactive{
    color: darkgray;
    cursor: default;
}

.circle{
    border: 1px solid var(--main-color);
    border-radius: 50%;
}

.focus-active{
    background: rgba(13, 191, 249, 0.2);
}

.selectedCell{
    background-color: var(--main-color);
    color: black;
    font-weight: 500;
    border-radius: 50%;
}

.dateFrom{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.dateTo{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
/* tr:active, tr:focus-within, tr:focus-visible, tr:hover,
td:active, td:focus-within, td:focus-visible {
    background: none;
    outline: none;
} */