
<!-- change calendar class by card -->
<!-- give margin 16 auto to app-calendar-container and refix calendar top -->

<div class="toolbar" role="banner">
  <img width="100" alt="Unblur Logo" src="../assets/logo_b.png" />
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <!-- The card with title to open the calendar -->
  <app-calendar-container (click)="service.popUp.next((hide = !hide))"></app-calendar-container>

  <!-- The calendar itself with calendar-body as children -->
  <app-calendar [class.close]="hide"></app-calendar>

  <!-- A card containing a form to send email (firebase, sendgrid, nodemailer) -->
  <app-reminder></app-reminder>
  
  <!-- Represents data from a mock http call -->
  <app-onthisday></app-onthisday>
  <!-- Contact links -->
  <app-contact class="footer"></app-contact>
  
</div>

<!-- Globally available notification bar -->
<app-snackbar></app-snackbar>