.toolbar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  justify-content: space-between;
  z-index: 10;
}

.toolbar * {
  margin: 0 16px;
}

.content {
  display: flex;
  padding: 80px 16px 16px 16px;
  max-width: 960px;
  min-height: calc(100% - 60px);
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 auto;
  justify-content: center;
}

app-calendar {
  transform: rotateX(0deg); /*!important; rotate 90deg means normal view, transform 0deg means invisible (the latter is used in the upcoming class) */
  transition: all 0.2s ease 0s; /* the effect, pushe it (push bcoz of transporm origin, this is just the motion strategy, contains no effect) towards the new position slowly */
  transform-origin: 100% 0 0; /* makes the transition starts from the origin*/
  z-index: 1;
}

.close {
  transform: rotateX(90deg) !important;
}

.footer {
    margin-top: auto;
}