<div class="container">
    <h4>Filter by date</h4>
    <form>
        <label style="left: 50px;" for="dateFrom">From</label>
        <input type="text" id="dateFrom" placeholder="dd/mm/yyyy" [value]="dateFrom|date:'dd/MM/y'" readonly>

        <label style="left: 184px;" for="dateTo">To</label>
        <input type="text" id="dateTo" placeholder="dd/mm/yyyy" [value]="dateTo|date:'dd/MM/y'" readonly>

        <div style="display: flex;justify-content: space-between;">
            <span>{{displayMonth |date:'MMMM'}} {{cYear}}</span>
            
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="pointer"
                    height="24px" viewBox="0 0 24 24" width="24px" fill="white"
                    (click)="previous()">
                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="pointer"
                    height="24px" viewBox="0 0 24 24" width="24px" fill="white"
                    (click)="next()">
                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>
            </div>
        </div>
        
        <table>
            <thead>
            <tr>
                <th *ngFor="let wd of weekDays">{{wd}}</th>
            </tr>
            </thead>

            <tbody class="pointer">
                <tr *ngFor="let c of calendar; let i = index">
                    <td class="dates" [class.gray]="isDisable(i, c[0])" 
                        [class.circle]="today(c[0])"
                        (click)="selectDates(c[0], i, $event)"
                        (mouseover)="isRange(i, c[0])">
                        {{c[0]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[1])" 
                        [class.circle]="today(c[1])"
                        (click)="selectDates(c[1], i, $event)"
                        (mouseover)="isRange(i, c[1])">
                        {{c[1]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[2])" 
                        [class.circle]="today(c[2])"
                        (click)="selectDates(c[2], i, $event)"
                        (mouseover)="isRange(i, c[2])">
                        {{c[2]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[3])" 
                        [class.circle]="today(c[3])"
                        (click)="selectDates(c[3], i, $event)"
                        (mouseover)="isRange(i, c[3])">
                        {{c[3]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[4])" 
                        [class.circle]="today(c[4])"
                        (click)="selectDates(c[4], i, $event)"
                        (mouseover)="isRange(i, c[4])">
                        {{c[4]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[5])" 
                        [class.circle]="today(c[5])"
                        (click)="selectDates(c[5], i, $event)"
                        (mouseover)="isRange(i, c[5])">
                        {{c[5]}}
                    </td>
                    <td class="dates" [class.gray]="isDisable(i, c[6])" 
                        [class.circle]="today(c[6])"
                        (click)="selectDates(c[6], i, $event)"
                        (mouseover)="isRange(i, c[6])">
                        {{c[6]}}
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
    <footer style="display: flex;justify-content: end;">
        <button style="margin: 6px;" (click)="dateFrom=null;dateTo=null">Clear</button>
        <button style="margin: 6px;" (click)="abcd()">Apply</button>
    </footer>
</div>
