/* reduce padding for responsive behaviour */
.container{
    box-sizing: border-box;
    padding: 8px 24px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    box-shadow: 0px 0px 2px 0px;
    background-color: var(--bg-color);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 0;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-family: Poppins;
}
.closeBtn{
    fill: white;
}
.closeBtn:hover{
    fill: var(--main-color);
    width: 16px;
    height: 16px;
}
.hide{
    display: none;
}
.inputs{
    display: flex;
    justify-content: space-between;
}
input{
    border: none;
    background: none;
    border-bottom: solid 0.5px var(--main-color);
    border-radius: 2px;
    width: 114px;
    height: 40px;
    text-align: center;
    letter-spacing: 1px;
    margin: 14px 0;
    color: white;
}
input::placeholder{
    color: #8B8B8B;
    font-size: 14px;
    line-height: 22px;
}
input:hover{
    outline: none !important;
    border-bottom: none;
    border: 0.5px solid var(--main-color);
}

.yearMonth{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

label{
    position: absolute;
    top: 42px;
    padding: 4px; 
    width: 32px;
    height: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: var(--bg-color);
}

table{
    font-size: 13px;
    line-height: 19px;
}
thead{
    display: flex;
    text-align: center;
    color: var(--main-color);
}
th, td{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
tbody{
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
}

.gray{
    color: gray;
    cursor: default;
}
/* .circle{
    border: 1px solid var(--main-color);
} */
.selected{
    box-sizing: border-box;
    background-color: var(--main-color);
}
.focus-active{
    background: rgba(13, 191, 249, 0.2);
    /* background: rgba(13 191 249 0.2); */

}
.dates:hover{
    box-sizing: border-box;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}
.selectedCell{
    background-color: var(--main-color);
}
button{
    width: 50px;
    height: 21px;
    border: none;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: none;
    line-height: 21px;
    margin: 8px 0;
}