/* reduce padding for responsive behaviour */
.container{
    box-sizing: border-box;
    padding: 8px 32px;
    min-width: 300px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0px 0px 2px 0px;
    background-color: darkslateblue;
    color: white;
}
input{
    border: none;
    background: none;
    border-bottom: solid 2px lightblue;
    width: 100px;
    padding: 8px;
    margin: 8px;
    color: white;
}
input::placeholder{
    color: white;
}
thead{
    display: flex;
    text-align: center;
}
th, td{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
tbody{
    display: block;
    text-align: center;
}
label{
    position: absolute;
    top: 50px;
    padding: 4px;
    color: lightblue;
    font-size: 10px;
    background-color: darkslateblue;
}
.gray{
    color: gray;
    cursor: default;
}
.circle{
    border: 0.5px solid lightgreen;
}
.selected{
    box-sizing: border-box;
    background-color: aquamarine;
}
.focus-active{
    background-color: aqua;
}
.dates:hover{
    box-sizing: border-box;
    border: 0.5px solid ghostwhite;
}
.selectedCell{
    background-color: blueviolet;
}