@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --main-color: #0DBFF9;
    --bg-color: #051C2A;
}
html, body { height: 100%; overflow-x: hidden; }
body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.pointer{
    cursor: pointer;
}

.closeBtn{
    fill: white;
}

.closeBtn:hover{
    fill: var(--main-color);
    width: 16px;
    height: 16px;
}

.mr-12{
    margin-right: 12px;
}